.food_type{
    background-color: black;
    font-family: 'geosans';
    font-size: 1.1rem;
    margin-bottom: 1em;
}

*{
    outline: none;
}

.meally_avatar{
    margin-top: 1rem;
    object-fit: cover;
    width: 40%;
    margin-left: 30%;
}

.form_title{
    margin-top: 2%;
}

.form_body_2{
    height: auto;
}

.calculate_btn{
    background-color: rgb(39, 197, 124);
    color:rgb(255, 255, 255);
    border: none;
    font-family: 'geosans';
    font-size: 1rem;
    font-weight: bold;
}