.services{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 100%;
    justify-items: center;
    
}

.services_tabs{
    background-color:rgba(0, 0, 0, 0.336);
    height: 12em;
    width: 25em;
    margin:1rem;
    color: white;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
    font-size: 1rem;
}

.services_tabs:hover{
    color: rgb(241, 15, 15);
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.event_tab{
    background-image: url('../meal_pics/event_food.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.home_support_tab{
    background-image: url('../meal_pics/pexels-andrea-piacquadio-3772534.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.soup_tab{
    background-image: url("../meal_pics/saucy\ efo\ riro.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cocktail_tab{
    background-image: url('../meal_pics/pexels-rachel-claire-4819714.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.subscription_tab{
    background-image: url('../meal_pics/Nigerian-Traditional-Wedding-Ranti-and-Isaac-LoveweddingsNG-2706-Events-Small-Chops-Finger-Foods.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.corporate_tab{
    background-image: url('../meal_pics/pexels-monstera-6238053.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}